// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background : lightblue;
}

#header-image {
    width: 100%;
    background-image: url(https://thumbs.dreamstime.com/b/banner-template-beauty-salon-advertising-37850996.jpg);
    height: 250px;
    background-color: purple;
    background-position: center;
}
